/* Global Styles
------------------------------------- */

/* eb-garamond-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v33-latin-regular.woff2') format('woff2'); 
}

/* eb-garamond-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eb-garamond-v33-latin-500.woff2') format('woff2');
}
* {
    margin: unset;
}

html {
    height: 100%;
}
body {
    font-family: EB Garamond;
    font-weight: normal;
    font-size: 1.5rem;
    grid-template-rows: 0.32fr auto;
}

a:link {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

}

.grid {
    display: grid;
}

.white {
    color: #FFFFFF;
}

.orange {
    color: #FF7D00;
}

footer {
    margin: 0% 12% 0% 12%;
    display: grid;
    grid-template-columns: 0.645fr auto;
}

header {
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    margin: 4% 8% 0% 8%;
}

main {
    grid-template-columns: 0.57fr auto 0.3fr;
    grid-template-rows: 0.1fr 0.9fr;
    margin: 2% 12% 0% 12%;
    height: min-content;
}

.name-card {
    width: 53vw;
}

.contact-card {
    margin: 2% 0% 0% 8%;
}

.content-right {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.flexbox {
    display: flex;
    flex-direction: column;
}
.article-text {
    line-height: 1.6;
    margin: 9% 7% auto 12%;
}
.menu-button {
	aspect-ratio: 5/1;
	background: #FFFFFF;
	border-radius: 0;
	border: solid black 1px;
	filter: drop-shadow(2px 2px black);
	letter-spacing: 2%;
    display: grid;
    grid-template-columns: 0.96fr auto;
    align-content: end;    
    margin: 15% 17% 15% 17%;
}

#main-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-content: end;
}

#menu-subgrid {
	grid-template-columns: 0.24fr auto;
    margin-top: 24%;
}

#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: solid #5D5D5D 2px;
  z-index: -1;
  background-color: #FF7D00;
  right: 39%;
}

#menu-wrapper {
	border: solid black 1px;
	aspect-ratio: 17/20;
	background-color: #FFFFFF;
    height: 80%;
}

@media (orientation: portrait) {
    .content-wrapper {
    }
    .header-content {
    }
    .main-content {
        grid-template-rows: unset;
        grid-template-columns: unset;
        margin-top: unset;
    }
    .content-left {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        border-bottom: unset;
    }
    .content-right {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .content-right.bottom-border.white {
        border-bottom: unset;
    }
    .column-2.row-3 {
        grid-column: unset;
        grid-row: unset;
    }
    .column-3.row-3 {
        grid-column: unset;
        grid-row: unset;
    }
    .column-3.row-3 {
        border-bottom: unset;
    }
    #summary {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #menu-wrapper {
        height: unset;
    }
    #menu-subgrid {
        grid-template-columns: 0.7fr auto;
        grid-row: 4/5;
        grid-column: 1/2;
        margin-top: unset;
    }
}

