
/*
 *  Project: osource.co.uk/
 *  File: styles.css
 *  Author: Anton Plisnier
 *  Path: TBD
 *  contact: antonplsinier@protonmail.com
 */

/* FONTS
------------------------------------- */

/* eb-garamond-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v33-latin-regular.woff2') format('woff2'); 
}

/* eb-garamond-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eb-garamond-v33-latin-500.woff2') format('woff2');
}

/* || GENERAL STYLES
------------------------------------- */

* {
    margin: unset;
}

html {
    height: 100%;
}

/* || UTILITIES
 ------------------------------------- */

.grid {
    display: grid;
}

.white {
    color: #FFFFFF;
}

/* || SITEWIDE
-------------------------------------- */

body {
    font-family: EB Garamond;
    font-weight: normal;
    font-size: 1.5rem;
}

#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: solid #5D5D5D 2px;
  z-index: -1;
  background-color: #FF7D00;
  right: 39%;
}

/* PAGEWIDE STYLES
--------------------------------------- */

#body {
    grid-template-rows: 0.32fr auto;
}

/* || HEADER STYLES
-------------------------------------- */

header {
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    margin: 4% 8% 0% 8%;
}

.name-card {
    width: 53vw;
}

.contact-card {
    margin: 2% 0% 0% 8%;
}

/* || MAIN STYLES
--------------------------------------- */

main {
    grid-template-columns: 0.57fr auto 0.3fr;
    grid-template-rows: 0.1fr 0.7fr;
    margin: 2% 12% 0% 12%;
    height: min-content;
}

#page-title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-content: end;
}

/* MENU STYLES */

.menu-button {
	aspect-ratio: 5/1;
	background-color: inherit;
	border: solid black 1px;
	filter: drop-shadow(2px 2px black);
    grid-template-columns: auto auto;
    width: 66%;
    align-content: end;    
}

.menu-button > h4 {
    margin: 0% 7% 0% 7%;
    color: #121212;
    font-weight: 500;
}
.menu-button-index {
    text-align: right;
}

#menu {
	border: solid black 1px;
	aspect-ratio: 17/20;
	background-color: #FFFFFF;
    height: 88%;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* FOOTER STYLES
--------------------------------------- */

footer {
    margin: 6% 12% 0% 12%;
    display: grid;
    grid-template-columns: 0.645fr auto;
}

#footer-left {
    grid-column: 1 / 2;
    border-top: solid 3px #FFFFFF;
}

#footer-right {
    grid-column: 2 / 3;
    border-top: solid 3px #FF7D00;
}

/* MEDIA QUERIES (TEMP -> FOR REWRITE)
--------------------------------------- */

@media (orientation: portrait) {
    .content-wrapper {
    }
    .header-content {
    }
    .main-content {
        grid-template-rows: unset;
        grid-template-columns: unset;
        margin-top: unset;
    }
    .content-left {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        border-bottom: unset;
    }
    .content-right {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .content-right.bottom-border.white {
        border-bottom: unset;
    }
    .column-2.row-3 {
        grid-column: unset;
        grid-row: unset;
    }
    .column-3.row-3 {
        grid-column: unset;
        grid-row: unset;
    }
    .column-3.row-3 {
        border-bottom: unset;
    }
    #summary {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #menu-wrapper {
        height: unset;
    }
    #menu-subgrid {
        grid-template-columns: 0.7fr auto;
        grid-row: 4/5;
        grid-column: 1/2;
        margin-top: unset;
    }
}

