

/* eb-garamond-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v33-latin-regular.woff2') format('woff2'); 
}

/* eb-garamond-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eb-garamond-v33-latin-500.woff2') format('woff2');
}


/* jetbrains-mono-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local('/fonts/jetbrains-mono-v24-latin-regular.woff2') format('woff2'); 
}

html {
    overflow: hidden;
}
body {
	/*margin: 0 0 0 auto;*/
}
h1 {
	font-family: EB Garamond;
	font-weight: bold;
	margin: unset;
}

a:link {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

}
.content-wrapper {
	display: grid;
    font-family: EB Garamond;
	font-weight: normal;
    font-size: 1.5rem;

}

.main-content {
    grid-template-columns: 0.54fr 0.33fr auto;
	grid-template-rows: 0.16fr 0.62fr 0.23fr auto;
	margin: 7vh 12% auto 17%;
}

.header-content {
    grid-template-columns: 0.82fr auto;
    grid-template-rows: auto;
    margin: 5% 12% 4% 17%;
    width: 71%;
}

.name-card {
    /*width: 61vw;*/
    /*text-align: center;*/
}
.name-card > p {
    /*padding: unset;*/
    margin: unset;
    /*font-size: 18px;*/
    font-weight: bold;
}

.contact-card {
    /*margin-left: 2.5vw;*/
    padding-left: 2.5vw;
    font-weight: bold;
    margin: 0 0 auto 0;
    padding-top: 2%;
}

.contact#phone {
    margin: unset;

}

.contact#email {
    margin: unset;
}

.content-left {
    grid-row: 2/4;
}

.content-right {
	grid-column: 2 / 4;
    grid-row: 2 / 5;
}

.flexbox {
	/*display: flex;*/
	/*flex-direction: column;*/
}

.menu-button {
	aspect-ratio: 5/1;
	background: #FFFFFF;
	border-radius: 0;
	border: solid black 1px;
	filter: drop-shadow(2px 2px black);
	/*text-align: left;*/
	/*width: 64%;*/
	margin: auto 18% auto 18%;
	font-family: inherit;
	/*padding: 7% 0 0 0.5%;*/
	letter-spacing: 2%;
    display: inherit;
    align-content: end;
    

}

.bottom-border.white {
	border-bottom: solid #FFFFFF 3px;
}

.bottom-border.orange {
	border-bottom: solid #FF7D00 3px;
}

.column-1.row-3 {
	grid-column: 1/2;
	grid-row: 3/4;
}

.column-2.row-3 {
	grid-column: 2/3;
	grid-row: 3/4;
}

.column-3.row-3 {
	grid-column: 3/4;
	grid-row: 3/4;
}

.row-subgrid {
	display: grid;
	grid-template-rows: subgrid;
	
}

#menu-subgrid {
	grid-template-columns: 0.323fr auto;
    margin-top: 24%;
}

#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: solid #5D5D5D 2px;
  z-index: -1;
  background-color: #FF7D00;
  /*right: 39%;*/
  width: 60.7%;
}

#summary {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	color: #FFFFFF;
	font-weight: 600;
}

#menu-wrapper {
	border: solid black 1px;
	aspect-ratio: 17/20;
	background-color: #FFFFFF;
    height: 84%;
}

@media (orientation: portrait) {
    .content-wrapper {
    }
    .header-content {
    }
    .main-content {
        grid-template-rows: unset;
        grid-template-columns: unset;
        margin-top: unset;
    }
    .content-left {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        border-bottom: unset;
    }
    .content-right {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .content-right.bottom-border.white {
        border-bottom: unset;
    }
    .column-2.row-3 {
        grid-column: unset;
        grid-row: unset;
    }
    .column-3.row-3 {
        grid-column: unset;
        grid-row: unset;
    }
    .column-3.row-3 {
        border-bottom: unset;
    }
    #summary {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #menu-wrapper {
        height: unset;
    }
    #menu-subgrid {
        grid-template-columns: 0.7fr auto;
        grid-row: 4/5;
        grid-column: 1/2;
        margin-top: unset;
    }
}

